<h1>AntCMS User Management</h1>
<a href="{{ "admin/"|absUrl }}">Back</a> |
<a href="{{ "admin/users/add/"|absUrl }}">Add User</a>
<table>
    <tr>
        <th>Display Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td><a href="{{ ("admin/users/edit/" ~ user.username) |absUrl }}">Edit</a> | <a href="{{ "admin/"|absUrl }}">Reset Password</a></td>
    </tr>
    {% endfor %}
</table>
