<h1>Page Management</h1>
<a href="{{ "admin/"|absUrl }}">Back</a> |
<a href="{{ "admin/pages/regenerate/"|absUrl }}">Regenerate Page List</a> |
<a href="{{ "admin/pages/create/"|absUrl }}">Create New Page</a>
<table>
    <tr>
        <th>Page Title</th>
        <th>Full Page Path</th>
        <th>Functional Page Path</th>
        <th>Show in Navbar</th>
        <th>Actions</th>
    </tr>
    {% for page in pages %}
    <tr>
        <td>{{ page.pageTitle }}</td>
        <td>{{ page.fullPagePath }}</td>
        <td>{{ page.functionalPagePath }}</td>
        <td><a href='{{ page.togglevisibility }}'>{{ page.isvisable }}</a></td>
        <td>
            <a href="{{ page.editurl }}">Edit Page</a> |
            <a href="{{ page.deleteurl }}">Delete Page</a>
        </td>
    </tr>
    {% endfor %}
</table>
